* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "phophins", sans-serif;
}
body{
  --web-color:#F6F7FB;
}
.ResultPortal-topnav {
  display: flex;
  flex-direction: row;
  background-color:var(--web-color);
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  font-size: 18px;
}
.ResultPortal-topnav button {
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}
