*
{
    padding: 0;
    margin: 0;
    font-family: 'popphins',sans-serif;
    --result--:rgb(158, 114, 206);  
    --active-card:hsl(223, 77%, 60%);
    --card:rgb(124, 198, 250);
    --Approved-partyHead:rgb(133, 209, 179);
    --pending--:rgba(246, 103, 60, 0.936);
    --result--:rgb(158, 114, 206); 
}
body
{
 --web-color:#F6F7FB;   
 background-color: var(--web-color);
}
.Result-card
{
    position: relative;
    bottom: .6rem;
    background-color:var(--result--);
}
#Voter-logout
{
  font-size: 1.2rem;
}
.dashboard-card
{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}
button{
    border: none;
    outline: none;
}
.Detail-card
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}